<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row responsive-sm wrap>
    <ion-col *ngFor="let i of ideas">
      <ion-card>
        <ion-item>
          <ion-avatar item-left>
            <img [src]="'https://protected-temple-59341.herokuapp.com/media/'+i.ideaOwnerAvatar+'.avatar'">
          </ion-avatar>
          <h2>{{i.ideaOwner}}</h2>
          <ion-badge item-right>{{i.area}}</ion-badge>
          <p>{{i.updatedAt.substr(0, 10)}}</p>
        </ion-item>

        <ion-card-content>
          <p>{{i.description}}</p>
          <img *ngIf="i.mediaType=='.jpg'||i.mediaType=='.png'||i.mediaType=='.bmp'||i.mediaType=='.gif'||i.mediaType=='.jpeg'"
          [src]="'https://protected-temple-59341.herokuapp.com/media/'+i.mediaId+'i.mediaType'">
          <video *ngIf="i.mediaType=='.mp4'" width="320" height="240" controls>
            <source [src]="'https://protected-temple-59341.herokuapp.com/media/'+i.mediaId+'i.mediaType'" type="video/mp4">
          </video>
          <a ion-item text-center *ngIf="!(i.mediaType=='.jpg'||i.mediaType=='.png'||i.mediaType=='.bmp'||i.mediaType=='.gif'||i.mediaType=='.jpeg'||i.mediaType=='.mp4'||!i.mediaType)"
          [href]="'https://protected-temple-59341.herokuapp.com/media/'+i.mediaId+i.mediaType" target="_blank">
            <ion-icon name="cloud-download"></ion-icon>{{i.mediaType}}</a>
        </ion-card-content>

        <ion-row>
          <ion-col width-33 center text-center>
            <button ion-button clear full primary small icon-left text-center>
            <ion-icon name="thumbs-up"></ion-icon>
            {{i.likesNo}}
          </button>
          </ion-col>
          <ion-col width-33 center text-center>
            <button ion-button full primary clear small icon-left text-center (click)="modalSuggestion(i)">
            <ion-icon name="text"></ion-icon>
            {{i.suggestionsNo}}
          </button>
          </ion-col>
          <ion-col width-33 center text-center>
            <button ion-button full primary clear small icon-left text-center>
          <ion-icon name="bookmark"></ion-icon>{{i.status}}
        </button>
          </ion-col>
        </ion-row>
        <ion-item padding>
          <h3><i>{{i.latestSuggestionOwner}}</i></h3>
          <p><i>{{i.latestSuggestion}}</i></p>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-fab right bottom *ngIf="refreshToggle">
  <button ion-fab (click)="refresh()"><ion-icon name="refresh"></ion-icon></button>
  </ion-fab>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
