<ion-header>

  <ion-navbar>
    <ion-title>Search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (input)="search($event)"></ion-searchbar>
  <ion-item-group>
  <ion-item-divider color="light">Filter</ion-item-divider>
    <ion-item>
      <ion-label>Area</ion-label>
      <ion-select [(ngModel)]="area">
      <ion-option *ngFor="let a of areas" [value]="a.value">{{a.value}}</ion-option>
      </ion-select>
  </ion-item>
    <ion-item>
  <ion-label>Status</ion-label>
    <ion-select [(ngModel)]="status">
      <ion-option value="Open">Open</ion-option>
      <ion-option value="Going">Going</ion-option>
      <ion-option value="Closed">Closed</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
  <ion-label>Post Date</ion-label>
  <ion-select [(ngModel)]="startDate">
    <ion-option value=86400>Today</ion-option>
    <ion-option value=604800>Last 1 week</ion-option>
    <ion-option value=2592000>Last 1 month</ion-option>
    <ion-option value=7776000>Last 90 days</ion-option>
  </ion-select>
  </ion-item>
</ion-item-group>

    <ion-item-group>
    <ion-item-divider color="light">Result by Ideas</ion-item-divider>
  <button ion-item text-wrap *ngFor="let i of ideas">
    <h1>{{i.ideaOwner}}</h1>
    <h3>{{i.updatedAt}}</h3>
    <p>{{i.idea}}</p>
  </button>
</ion-item-group>

<ion-item-group>
<ion-item-divider color="light">Result by Suggestions</ion-item-divider>
<button ion-item text-wrap *ngFor="let s of suggestions">
<h1>{{s.suggestionOwner}}</h1>
<h3>{{s.updatedAt}}</h3>
<p>{{s.suggestion}}</p>
</button>
</ion-item-group>

<ion-item-group>
<ion-item-divider color="light">Result by Actions</ion-item-divider>
<button ion-item text-wrap *ngFor="let a of actions">
<h1>{{a.actionOwner}}</h1>
<h3>{{a.updatedAt}}</h3>
<p>{{a.action}}</p>
</button>
</ion-item-group>

</ion-content>
